.backsplash {
    background-color: #d6d3c4;
    height: 100vh;

}

.nav {
    background-color: #500000;
    color: #500000;
    position: static;
    display: flex;
    max-width: 1920px;
    max-height: 100px;
    clear: none;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    object-fit: none;
}

.nav-logo {
    width: 200px;
}

.nav-button {
    display: flex;
    height: 45px;
    justify-content: center;
    padding: 0;
    white-space: nowrap;
    align-self: center;
    line-height: 2.25em;
    vertical-align: center;
    flex: 1;
    border-radius: 20px;
    border-style: none;
    background-color: #fff;
    color: #500000;
    font-size: 20px;
    font-weight: bolder;
}

.Employee-box {
    position: absolute;
    top: 120px;
    left: 20px;
    background-color: #500000;
    padding: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    max-width: 40vw;
    border-radius: 20px;
}

.POS-container {
    /* THE POS BORDER */
    max-height: calc(60vh);
    /* max height 1/2 page */
    overflow-y: auto;
    /* test scrollbar */
    margin-top: 150px;
    border: 5px solid #500000;
    border-radius: 10px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.POS-container::-webkit-scrollbar {
    /* the scrollbar track */
    width: 8px;
    background-color: rgba(0, 0, 0, 0.01);
    /*transparent scroll bar tracker*/
}

.POS-container::-webkit-scrollbar-thumb {
    /* current location of scrollbar */
    background-color: #500000;
    border-radius: 4px;
}

.POS-container::-webkit-scrollbar-thumb:hover {
    /* scrollbar hover */
    background-color: #f8bf0c;
}

.POS-container::-webkit-scrollbar-thumb:active {
    /* scrollbar hover onclick*/
    background-color: #f8bf0c;
}

.Menu-grid {
    /* GRID LAYOUT FOR API CALL */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.MenuItem-block {
    /* OUTER SINGLE ITEM BUTTON */
    padding: 16px;
    background-color: #500000;
    border-radius: 4px;
}

.Item-Button {
    /* INNER ITEM NAME BUTTON */
    text-transform: capitalize;
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Item-Price {
    /* PRICE OF MENU ITEM */
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}