#frame {
    height: 100vh;
    background-color: #d6d3c4;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: block;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
}

.option {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 500px;
    padding: 0.5em;
    background-color: #500000;
    color: white;
    display: block;
    font-size: 25px;
}

.option2 {
    height: 45px;
    display: center;
    border-radius: 20px;
    border-style: none;
    background-color: #f8bf0c;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin: 2px;
    margin-bottom: 10px;
    margin-left: 85px;
}

.option2:hover {
    color: white;
    background-color: #d3a306;
}

.option2:active {
    background-color: #f00;
    transition-duration: 0.1s;
}

.order-bottom {
    display: inline;
}