#frame {
    height: 100vh;
    background-color: #d6d3c4;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: block;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
}

.option {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 500px;
    padding: 0.5em;
    background-color: #500000;
    color: white;
    display: block;
    font-size: 25px;
}